#main {
    min-height: 70%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    column-gap: 15px;
}
.box {
    padding: 3%;
    background: snow;
    border-radius: 15px;
}
#left-column {
    display: flex;
    flex-direction: column;
}
#categories {
    list-style: none;
    padding: 3% 15px;
}
#list {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr;
}
#list .head {
    background: #FFDDDD;
    text-align: center;
    font-weight: 900;
}
#list .head:first-child {
    border-top-left-radius: 15px;
}
#list .head.last {
    border-top-right-radius: 15px;
}
#list > div:not(.head),
.head > div {
    padding: 0 1%;
    border-bottom: 1px solid #FFDDDD;
    box-sizing: border-box;
}
#list .centered {
    text-align: center;
}
#bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}
hr {
    border-top: 3px solid #FFDDDD;
    margin: 15px 0;
}
#board button,
#board input[type="submit"] {
    margin-right: 3px;
}
.markdown {
    word-break: break-all;
}
.markdown * {
    margin: revert;
    padding: revert;
}
.markdown blockquote {
    box-sizing: border-box;
    border-left: .25em solid #dfe2e5;
    margin-left: 5px;
    padding: 0 1em;
}
.markdown a {
    color: skyblue;
    font-weight: unset;
}
.markdown a:hover {
    text-decoration: underline;
}
button.current-index {
    background: white;
}
.function-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.function-bar .author-date {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.this-is {
    font-weight: bold;
}
@media only screen and (max-width: 480px) {
    #main {
        grid-template-columns: 1fr;
        min-height: unset;
        row-gap: 30px;
    }
    #list {
        grid-template-columns: auto auto auto auto;
        font-size: small;
    }
    .function-bar .author-date {
        flex-direction: column;
    }
    .markdown blockquote {
        margin: unset;
    }
    #list .head {
        padding: 3px;
    }
}