#front-image-container {
    height: 50%;
    display: flex;
    justify-content: center;
    margin: 0 5%;
    background: white;
    border-radius: 15px;
}
#main {
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 1fr);
}
#main > div {
    padding: 5%;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
}
#main .title {
    display: flex;
    align-items: baseline;
}
#main .title h2 {
    margin-right: 3px;
}
#recent-notices {
    overflow-y: auto;
}
#recent-notices li {
    border-bottom: 3px solid snow;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 15px;
}
#recent-magazines {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
#recent-magazines a {
    display: contents;
}
#recent-magazines a img {
    width: auto;
    height: 100%;
}
@media only screen and (max-width: 480px) {
    #front-image-container {
        height: auto;
    }
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        height: unset;
    }
    #recent-magazines {
        height: 150px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    #recent-magazines {
        height: 225px;
    }
}