#front-image-container {
    height: 50%;
    display: flex;
    justify-content: center;
    margin: 0 5%;
    background: white;
    border-radius: 15px;
}
#front-mobile {
    display: none;
}
#main {
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 1fr);
    row-gap: 5%;
}
#main > div {
    padding: 5%;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
}
#main .title {
    display: flex;
    align-items: baseline;
}
#main .title h2 {
    margin-right: 3px;
}
#recent-notices {
    overflow-y: auto;
}
#recent-notices li {
    border-bottom: 3px solid snow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#recent-magazines {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
#recent-magazines li {
    height: 100%;
    display: inline-block;
}
@media only screen and (max-width: 480px) {
    #front-image-container {
        height: auto;
    }
    #front-mobile {
        display: block;
    }
    #front-desktop {
        display: none;
    }
    #main {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        height: unset;
    }
    #recent-magazines {
        height: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .volumes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1024px) {
    .volumes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1200px) {
    .volumes {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}