#main {
    background-color: snow;
    border-radius: 15px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
#main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}