{%-extends "layout.html"-%}
{%-block additional_css-%}
<link rel="stylesheet" href="/static/css/admin.css">
{%-endblock-%}
{%-block main-%}
<div id="main">
    <h1>관리자 화면</h1>
    <div id="container">
        <div id="navigator">
            <div><a href="#"><h3 class="club-info">동아리 정보</h3></a></div>
            <div><a href="#"><h3 class="users">회원 관리</h3></a></div>
            <div><a href="#"><h3 class="class-info">분반 정보</h3></a></div>
        </div>
        <div id="workspace">
            <div class="users">
                <h2>회원 관리</h2>
                <div id="user-list">
                    <div class="title">학번</div>
                    <div class="title">실명</div>
                    <div class="title">ID</div>
                    <div class="title">직책</div>
                    <div class="title">작업</div>
                    {%-for user in users-%}
                        <div>{{user["id"]}}</div>
                        <div>{{user["real_name"]}}</div>
                        <div>{{user["username"]}}</div>
                        <div>{{user["role"]}}</div>
                        <div class="tasks">
                            <div id="change-role-{{user['id']}}" class="change-role">
                                <button type="button" class="trigger" onclick="show({{user['id']}})">직책 변경</button>
                                <div id="change-role-popup-{{user['id']}}" class="popup">
                                    <label for="role"><select name="role" onchange="setPotentialRole(event.target.value)">
                                        <option value="user">user(회원)</option>
                                        <option value="board">board(임원)</option>
                                        <option value="president">president(회장)</option>
                                    </select> 로 <button type="button" onclick="changeRole({{user['id']}})">변경</button></label>
                                </div>
                            </div>
                            <!-- <button type="button">강제 탈퇴</button> TODO-->
                            <!-- <button type="button">ID 변경</button> TODO -->
                            <!-- <button type="button">비밀번호 변경</button> TODO -->
                        </div>
                    {%-endfor-%}
                </div>
                <div id="change-role-dropdown" class="hidden">
                    <label for="role">직책을<select name="role">
                        
                    </select> 로 <button type="button">변경</button></label>
                </div>
            </div>
            <div class="club-info working">
                <h2>동아리 정보</h2>
                <form action="/info" method="post">
                    <input type="text" placeholder="위치" value="{{layout_data['location']}}" name="location">
                    <input type="submit" value="변경">
                </form>
                <form action="/info" method="post">
                    <input type="email" placeholder="이메일" value="{{layout_data['email']}}" name="email">
                    <input type="submit" value="변경">
                </form>
                <form action="/info" method="post">
                    <input type="text" placeholder="회장 이름" value="{{layout_data['president-name']}}" name="president-name">
                    <input type="submit" value="변경">
                </form>
                <form action="/info" method="post">
                    <input type="text" placeholder="회장 전화번호" value="{{layout_data['president-tel']}}" name="president-tel">
                    <input type="submit" value="변경">
                </form>
            </div>
            <div class="class-info">
                <h2>분반 정보</h2>
                {%-for class_name, class_code in class_categories.items()-%}
                <div>
                    <h3>{{class_name}}</h3>
                    <form action="/class-info?class={{class_code}}" method="post">
                        <input type="text" placeholder="{{class_name}} 운영 요일/시간" spellcheck="false" name="schedule" value="{{class_info[class_code]['schedule']}}" required>
                        <input type="submit" value="변경">
                    </form>
                    <form action="/class-info?class={{class_code}}" method="post">
                        <textarea name="description" placeholder="{{class_name}} 설명" spellcheck="false" rows="4" required>{{class_info[class_code]['description']}}</textarea>
                        <input type="submit" value="변경">
                    </form>
                    <form action="/class-info?class={{class_code}}" method="post">
                        <input type="text" placeholder="{{class_name}}장 이름" name="moderator" spellcheck="false" value="{{class_info[class_code]['moderator']}}" required>
                        <input type="submit" value="변경">
                    </form>
                </div>
                {%-endfor-%}
            </div>
        </div>
    </div>
</div>
{%-endblock-%}
{%-block scripts-%}
<script src="/static/js/admin.js"></script>
{%-endblock-%}