{%-extends "layout.html"-%}
{%-block additional_css-%}
<link rel="stylesheet" href="/static/css/board-layout.css">
{%-endblock-%}
{%-block main-%}
<div id="main">
    <div id="left-column">
        <ul id="categories" class="box">
            {%-block categories-%}
            {%-for name, suburl in categories.items()-%}
            <li><a href="/{{suburl}}">{{name}}</a></li>
            {%-endfor-%}
            {%-endblock-%}
        </ul>
    </div>
    <div id="board" class="box">
        {%-block content-%}
        {%-endblock-%}
    </div>
</div>
{%-endblock-%}