{% extends "board-layout.html" %}
{% block subtitle %} :: {{this_is}} - {{data["title"]}}{% endblock %}
{%-block categories-%}
{%-for name, suburl in categories.items()-%}
<li><a href="/classes/{{suburl}}">{{name}}</a></li>
{%-endfor-%}
{%-endblock-%}
{%-block content-%}
<h1>{{data["topic"]}}</h1>
<div class="function-bar">
    <div class="author-date"><div>분반장 {{data["moderator"]}}</div><div>활동일 {{data["conducted"]}}</div></div>
    <div><button type="button"><a href="/classes/{{categories[this_is]}}/{{data['no']}}/edit">수정</a></button><button type="button" id="delete-button">삭제</button></div>
</div>
<hr>
<div class="markdown">
    <h3>참여자</h3>
    <ul>
        {%-for p in data["participants"]-%}
        <li>{{p}}</li>
        {%-endfor-%}
    </ul>
</div>
<div class="markdown">{{gfm(data["content"])|safe}}</div> <!--글쓴이를 신뢰하여 별다른 검사 없이 바로 "|safe"를 적용합니다.-->
{% endblock %}
{%-block scripts-%}
<script>
    document.querySelector("#delete-button").addEventListener("click", (event)=>{
        if (confirm("이 활동 기록을 삭제합니다.")) {
            fetch(location.href, {method:"DELETE"})
            .then(()=>{location.replace(document.referrer)}); // TODO: include credentials
        }
    });
</script>
{%-endblock-%}