{%-extends "layout.html"-%}
{%-block additional_css-%}
<link rel="stylesheet" href="/static/css/index.css">
{%-endblock-%}
{%-block main-%}
<div id="front-image-container">
    <img id="front-desktop" src="/static/assets/images/연세문학회1-그림만.png" alt="연세문학회 문집 더미에 파묻힌 강아지가 바깥으로 몸을 반쯤 내밀고 숨을 돌리고 있다.">
    <img id="front-mobile" src="/static/assets/images/연세문학회1-그림만.png" alt="'연세문학회 since 1941'이라 큼지막하게 적힌 글자 아래 왼쪽에는 잉크병에 꽂힌 깃펜이, 오른쪽에는 책더미에 올라앉아 책을 보고 있는 사람이 하나 있고 아래쪽에는 '시/소설/독서/합평반|『연세문학』 발간|홈커밍데이|합동합평회'라 적혀 있다.">
</div>
<div id="main">
    <div>
        <h2><a href="/notices">공지</a></h2>
        <ul id="recent-notices">
            {%-for notice in recent_notices-%}
                <li>
                    <div class="recent-notice-title"><a href="/notices/{{notice['no']}}">
                        {{notice["title"]}}
                    </a></div>
                    <div>{{notice["published"]}}</div>
                </li>
            {%-endfor-%}
            {%-for _ in [1,2,3,4,5]-%}
            <li>ㅁㄴ임ㄹㄴ이</li>
            {%-endfor-%}
        </ul>
    </div>
    <div>
        <h2><a href="/magazines">문집</a></h2>
        <ul id="recent-magazines">
            <li><img src="/static/assets/images/2020 연세문학.jpg" alt="'연세문학' 2020년호 표지"></li>
            <li><img src="/static/assets/images/2017 연세문학 임시.jpg" alt="'연세문학' 2017년호 표지"></li>
            <li><img src="/static/assets/images/2020 연세문학.jpg" alt="'연세문학' 2020년호 표지"></li>
            <li><img src="/static/assets/images/2020 연세문학.jpg" alt="'연세문학' 2020년호 표지"></li>
            <li><img src="/static/assets/images/2020 연세문학.jpg" alt="'연세문학' 2020년호 표지"></li>
            <li><img src="/static/assets/images/2020 연세문학.jpg" alt="'연세문학' 2020년호 표지"></li>
            <li><img src="/static/assets/images/2020 연세문학.jpg" alt="'연세문학' 2020년호 표지"></li>
            <li><img src="/static/assets/images/2020 연세문학.jpg" alt="'연세문학' 2020년호 표지"></li>
            <li><img src="/static/assets/images/2020 연세문학.jpg" alt="'연세문학' 2020년호 표지"></li>
            <li><img src="/static/assets/images/2020 연세문학.jpg" alt="'연세문학' 2020년호 표지"></li>
        </ul>
    </div>
</div>
{%-endblock-%}