<!DOCTYPE html>
<html lang="ko">
<head>
    {%-block head-%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="naver-site-verification" content="1cc83fe748db6bdcc96386a0c31a80554c263840" />
        <link rel="stylesheet" href="/static/css/basic.css">
        {%-block additional_css-%}{%-endblock-%}
        <title>연세문학회{% block subtitle %}{% endblock %}</title>
    {%-endblock-%}
</head>
<body>
{%-block header-%}
<header>
    <h1><a href="/">연세문학회</a></h1>
    <div id="header-menu">
        <a href="/about">소개</a>
        <a href="/classes">분반</a>
        <a href="/magazines">문집</a>
        <a href="/notices">공지</a>
        {%-if current_user.is_mod-%}
        <a href="/admin">관리</a>
        {%-endif-%}
        {%-if current_user.is_authenticated-%}
        <a id="logout-for-mobile" href="/logout">로그아웃</a>
        <div id="current-user-info">
            <div>{{current_user.real_name}}님 환영합니다.</div>
            <a href="/logout">로그아웃</a>
        </div>
        {%-else-%}
        <a class="clickable" id="login">로그인</a>
        {%-endif-%}
    </div>
    <a id="see-more">☰</a>
</header>
{%-endblock-%}
{%-block main-%}
{%-endblock-%}
{%-block footer-%}
<footer>
    <div>
        <h3>연락처</h3>
        <div>
            <p>📌 {{layout_data.get('location', '아직 설정되지 않음')}}</p>
            <p>📧 <a href="mailto: {{layout_data.get('email', '아직 설정되지 않음')}}">{{layout_data.get('email', '아직 설정되지 않음')}}</a></p>
            <p>📞 회장 {{layout_data.get("president_name", '아직 설정되지 않음')}} <a href="tel: {{layout_data.get('president_tel', '아직 설정되지 않음').replace('-', '')}}">{{layout_data.get("president_tel", '아직 설정되지 않음')}}</a></p>
        </div>
    </div>
    <div>
        <h3>가입</h3>
        <!-- <a id="join-link">동아리 회원가입</a> -->
        <a href="{{layout_data.get('join_form_url', '아직 설정되지 않음')}}">동아리 회원가입</a>
        <a class="clickable" id="register">홈페이지 회원가입</a>
    </div>
    <div>
        <h3>정보</h3>
        <a href="/rules">동아리 회칙</a>
        <a href="https://github.com/trulybright/YoonDong-ju">사이트 정보</a>
        <small>서체: 고운 바탕 (한글/영문) / Noto Serif KR (한자)</small>
        <small>© {{datetime.now().year}} 연세문학회 | 작품 저작권은 항상 작가에게 있습니다.</small>
    </div>
</footer>
{%-endblock-%}
{%-block modals-%}
<div id="overlay-on-modal-up" class="hidden"></div>
<div id="join-modal" class="hidden modal">
    <button type="button" class="close-button">×</button>
    <h1>동아리 가입</h1>
    <figure>
        <blockquote>
            <p>사람이 온다는 것은</p>
            <p>실은 어마어마한 일이다.</p>
            <p>그는</p>
            <p>그의 과거와</p>
            <p>현재와</p>
            <p>그리고</p>
            <p>그의 미래와 함께 오기 때문이다.</p>
            <p>한 사람의 일생이 오기 때문이다.</p>
        </blockquote>
        <figcaption>정현종 - 「방문객」 <span class="hanja">中</span></figcaption>
    </figure>
    <br>
    <div>
        <p>연세문학회는 상시모집 중이며, 별다른 절차 없이 신청 즉시 가입됩니다.</p>
        <p>아래에 정보를 기입하고 신청하시면 곧 인사행정팀장이 카카오톡 문학회 공지방에 초대해드립니다.</p>
    </div>
    <form>
        <input type="text" name="name" placeholder="이름" spellcheck="false" required>
        <select name="major" required>
            <optgroup label="문과대학">
                <option value="국어국문학과">국어국문학과</option>
                <option value="중어중문학과">중어중문학과</option>
                <option value="영어영문학과">영어영문학과</option>
                <option value="독어독문학과">독어독문학과</option>
                <option value="불어불문학과">불어불문학과</option>
                <option value="노어노문학과">노어노문학과</option>
                <option value="사학과">사학과</option>
                <option value="철학과">철학과</option>
                <option value="문헌정보학과">문헌정보학과</option>
                <option value="심리학과">심리학과</option>
            </optgroup>
            <optgroup label="상경대학">
                <option value="경제학부">경제학부</option>
                <option value="응용통계학과">응용통계학과</option>
            </optgroup>
            <optgroup label="경영대학">
                <option value="경영학과">경영학과</option>
            </optgroup>
            <optgroup label="이과대학">
                <option value="수학과">수학과</option>
                <option value="물리학과">물리학과</option>
                <option value="화학과">화학과</option>
                <option value="지구시스템과학과">지구시스템과학과</option>
                <option value="천문우주학과">천문우주학과</option>
                <option value="대기과학과">대기과학과</option>
            </optgroup>
            <optgroup label="공과대학">
                <option value="전기전자공학과">전기전자공학과</option>
                <option value="건설환경공학과">건설환경공학과</option>
                <option value="산업공학과">산업공학과</option>
                <option value="기계공학과">기계공학과</option>
                <option value="건축공학과">건축공학과</option>
                <option value="화공생명공학과">화공생명공학과</option>
                <option value="도시공학과">도시공학과</option>
                <option value="컴퓨터과학과">컴퓨터과학과</option>
                <option value="글로벌융합공학부">글로벌융합공학부</option>
                <option value="시스템반도체공학과">시스템반도체공학과</option>
                <option value="신소재공학과">신소재공학과</option>
            </optgroup>
            <optgroup label="생명시스템대학">
                <option value="시스템생물학과">시스템생물학과</option>
                <option value="생화학과">생화학과</option>
                <option value="생명공학과">생명공학과</option>
            </optgroup>
            <optgroup label="신과대학">
                <option value="신학과">신학과</option>
            </optgroup>
            <optgroup label="사회과학대학">
                <option value="정치외교학과">정치외교학과</option>
                <option value="행정학과">행정학과</option>
                <option value="사회복지학과">사회복지학과</option>
                <option value="사회학과">사회학과</option>
                <option value="문화인류학과">문화인류학과</option>
                <option value="언론홍보영상학부">언론홍보영상학부</option>
            </optgroup>
            <optgroup label="음악대학">
                <option value="교회음악과">교회음악과</option>
                <option value="성악과">성악과</option>
                <option value="피아노과">피아노과</option>
                <option value="관현악과">관현악과</option>
                <option value="작곡과">작곡과</option>
            </optgroup>
            <optgroup label="생활과학대학">
                <option value="의류환경학과">의류환경학과</option>
                <option value="식품영양학과">식품영양학과</option>
                <option value="실내건축학과">실내건축학과</option>
                <option value="아동·가족학과">아동·가족학과</option>
                <option value="생활디자인학과">생활디자인학과</option>
            </optgroup>
            <optgroup label="교육과학대학">
                <option value="교육학과">교육학과</option>
                <option value="체육교육학과">체육교육학과</option>
                <option value="스포츠응용산업학과">스포츠응용산업학과</option>
            </optgroup>
            <optgroup label="Underwood Division">
                <option value="CLC">Comparative Literature and Culture</option>
                <option value="ECON">Economics</option>
                <option value="IS">International Studies</option>
                <option value="PSIR">Political Science and International Relations</option>
                <option value="LSBT">Life Science and Biotechnology</option>
            </optgroup>
            <optgroup label="Humanities, Arts and Social Sciences Division">
                <option value="AS">Asian Studies</option>
                <option value="CDM">Culture and Design Management</option>
                <option value="IID">Information and Interaction Design</option>
                <option value="CTM">Creative Technology Management</option>
                <option value="JCL">Justice and Civil Leadership</option>
                <option value="QRM">Quantitative Risk Management</option>
                <option value="STP">Science, Technology and Policy</option>
                <option value="SDC">Sustainable Development and Cooperation</option>
            </optgroup>
            <optgroup label="Integrated Science and Engineering Division">
                <option value="NSE">Nano Science and Engineering</option>
                <option value="EESE">Energy & Environmental Science and Engineering</option>
                <option value="BC">Bio-Convergence</option>
            </optgroup>
            <optgroup label="글로벌인재대학">
                <option value="국제통상">국제통상</option>
                <option value="한국언어문화교육">한국언어문화교육</option>
                <option value="문화미디어">문화미디어</option>
                <option value="바이오생활공학">바이오생활공학</option>
                <option value="응용정보공학">응용정보공학</option>
            </optgroup>
            <optgroup label="의과대학">
                <option value="의학과">의학과</option>
            </optgroup>
            <optgroup label="치과대학">
                <option value="치의학과">치의학과</option>
            </optgroup>
            <optgroup label="간호대학">
                <option value="간호학과">간호학과</option>
            </optgroup>
            <optgroup label="약학대학">
                <option value="약학과">약학과</option>
            </optgroup>
        </select>
        <input type="number" name="id" placeholder="학번(10자리)" spellcheck="false" required>
        <input type="tel" name="tel" placeholder="전화번호" spellcheck="false" required>
        <input type="submit" value="신청">
    </form>
</div>
<div id="login-modal" class="hidden modal">
    <button type="button" class="close-button">×</button>
    <h1>로그인</h1>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="ID" spellcheck="false" required>
        <input type="password" name="password" placeholder="비밀번호" required>
        <input type="submit" value="접속">
        <a href="#" id="forgot-id"><small>ID를 모른다면</small></a>
        <a href="#" id="forgot-pw"><small>비밀번호를 모른다면</small></a>
    </form>
</div>
<div id="find-id-modal" class="hidden modal">
    <button type="button" class="close-button">×</button>
    <h1>ID 찾기</h1>
    <div>
        <p>10자리 학번과 연세포탈 비밀번호를 입력해주세요.</p>
        <p>해당 학번으로 가입된 계정이 있고, 포탈 로그인이 가능하다면 ID를 알려드립니다.</p>
    </div>
    <form>
        <input type="number" name="portal-id" placeholder="학번(10자리)" required>
        <input type="password" name="portal-pw" placeholder="연세포탈 비밀번호" required>
        <input type="submit" value="인증">
    </form>
    <div id="result"></div>
</div>
<div id="find-pw-modal" class="hidden modal">
    <button type="button" class="close-button">×</button>
    <h1>비밀번호 변경하기</h1>
    <div>
        <p>해당 학번으로 가입된 계정이 있고, 포탈 로그인이 가능하다면 비밀번호가 변경됩니다.</p>
    </div>
    <form action="/change-pw" method="post">
        <input type="number" name="portal-id" placeholder="학번(10자리)" pattern="{{student_id_pattern}}" required>
        <input type="password" name="portal-pw" placeholder="연세포탈 비밀번호" required>
        <input id="new-password" type="password" name="new-pw" placeholder="새 비밀번호" pattern="{{password_pattern}}" required>
        <input id="new-password-confirm" type="password" placeholder="새 비밀번호 재입력" required>
        <p><small>비밀번호는 10자 이상에 숫자와 영문이 하나씩은 있어야 합니다.</small></p>
        <input type="submit" value="변경">
    </form>
</div>
<div id="register-modal" class="hidden modal">
    <button type="button" class="close-button">×</button>
    <h1>홈페이지 회원가입</h1>
    <div>
        <p>동아리 가입은 따로 해야 합니다.</p>
        <p>홈페이지 비밀번호는 안전히 암호화되어 저장됩니다.</p>
        <p>연세포탈 비밀번호는 신촌캠 구성원 인증에만 이용되며, 저장되지 않습니다. <em><small>연세문학회를 믿으세요.</small></em></p>
    </div>
    <br>
    <form method="post" action="/register">
        <input type="number" name="portal-id" placeholder="학번(10자리)" pattern="{{student_id_pattern}}" required>
        <input type="password" name="portal-pw" placeholder="연세포탈 비밀번호" required>
        <input type="text" name="real_name" placeholder="이름(실명)" spellcheck="false" required>
        <input type="text" name="username" placeholder="사용할 ID" spellcheck="false" required>
        <input id="register-pw" type="password" name="password" placeholder="사용할 비밀번호" pattern="{{password_pattern}}" required>
        <input id="register-pw-confirm" type="password" placeholder="사용할 비밀번호 재입력" pattern="{{password_pattern}}" required>
        <p><small>비밀번호는 10자 이상에 숫자와 영문이 하나씩은 있어야 합니다.</small></p>
        <input type="submit" value="가입">
    </form>
</div>
<div id="toast">
    {%-with messages = get_flashed_messages()-%}
        {%-if messages-%}
            {%-for message in messages-%}
                <p>{{ message }}</p>
            {%-endfor-%}
            <script>
                const toast = document.querySelector("#toast");
                toast.classList.add("show");
                setTimeout(()=>{toast.classList.remove("show")}, 3000);
            </script>
        {%-endif-%}
    {%-endwith-%}
</div>
{%-endblock-%}
<script src="/static/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.2/marked.min.js"></script>
{%-block scripts-%}
{%-endblock-%}
</body>
</html>