{% extends "board-layout.html" %}
{% block subtitle %} :: {{this_is}}{% endblock %}
{%-block content-%}
<div id="list">
    <div class="head">번호</div>
    <div class="head">제목</div>
    <div class="head">작성자</div>
    <div class="head last">게시일</div>
    {%-for row in data-%}
        {%-for col_name, col_data in row.items()-%}
            <div class="{{'centered' if col_name!='title' else ''}} convertable">
            {%-if col_name=="title"-%}
                <a href="/notices/{{row['no']}}">{{col_data}}</a>
            {%-else-%}
                {{col_data}}
            {%-endif-%}
            </div>
        {%-endfor-%}
    {%-endfor-%}
</div>
<div id="bottom-bar">
    <div id="list-navigator">
        {%-set current_index = math.ceil((skip+1)/10)-1-%} <!--현재 current_index번 목록에 있음-->
        {%-set list_range_start = math.ceil((skip+1)/100)-1-%} <!--이 목록 목록이 list_range_start번 목록에서 시작함-->
        {%-if list_range_start != 0-%}
            <button type="button"><a href="/notices?skip={{(list_range_start-1)*100}}">이전</a></button>
        {%-endif-%}
        {%-for i in range(0, 100, 10)-%}
            {%-if list_range_start*100+i <= list_size-%}
                <button type="button" class={{"current-index" if current_index == list_range_start*10+i//10 else ""}}>
                    <a href="/notices?skip={{list_range_start*100+i}}">{{list_range_start*10+i//10+1}}</a>
                </button>
            {%-endif-%}
        {%-endfor-%}
        {%-if (list_range_start+1)*100 < list_size %}
            <button type="button"><a href="/notices?skip={{(list_range_start+1)*100}}">다음</a></button>
        {%-endif-%}
    </div>
    {%-if current_user.is_mod()-%}
    <button type="button"><a href="/notices/write">글쓰기</a></button>
    {%-endif-%}
</div>
{%-endblock-%}
{%-block scripts-%}
<script src="/static/js/convert-hanja.js" type="module"></script>
{%-endblock-%}