{% extends "board-layout.html" %}
{% block subtitle %} :: {{this_is}}{% endblock %}
{%-block content-%}
<div id="list">
    <div class="head">
        <div>번호</div>
        <div>제목</div>
        <div>작성자</div>
        <div>게시일</div>
    </div>
    {%-for row in data-%}
        {%-for col_name, col_data in row.items()-%}
            <div class="{{'centered' if col_name!='title' else ''}}">
            {%-if col_name=="title"-%}
                <a href="/notices/{{row['no']}}">{{col_data}}</a>
            {%-else-%}
                {{col_data}}
            {%-endif-%}
            </div>
        {%-endfor-%}
    {%-endfor-%}
</div>
<div id="bottom-bar">
    <button type="button"><a href="/notices/write">글쓰기</a></button>
</div>
{%-endblock-%}