{%-extends "layout.html"-%}
{%-block additional_css-%}
<link rel="stylesheet" href="/static/css/magazines.css">
{%-endblock-%}
{%-block main-%}
<div id="main">
    <h1>문집 『연세문학』</h1>
    <h5>연 2회 발행됩니다.</h5>
    <!-- TODO: 관리자에게만 보이도록 -->
    <div class="function-bar"><button type="button"><a href="/magazines/write">새 문집 추가</a></button></div>
    <div class="volumes">
        {%-for volume in data-%}
        <div class="volume-item" id="vol{{volume['no']}}">
            <img src="/uploaded/{{volume['cover']}}" alt="연세문학 표지">
            <div class="volume-info">
                <h4>수록작</h4>
                <ul>
                    {%-for content in volume["contents"]-%}
                    <li class="content-row">
                        <div>{{content["type"]}}</div>
                        <div>{{content["author"]}}</div>
                        <div>{{content["title"]}}</div>
                        <div>{{content["language"]}}</div>
                    </li>
                    {%-endfor-%}
                </ul>
            </div>
        </div>
        {%-endfor-%}
    </div>
</div>
{%-endblock-%}