{%-extends "layout.html"-%}
{%-block additional_css-%}
<link rel="stylesheet" href="/static/css/magazines.css">
{%-endblock-%}
{%-block main-%}
<div id="main">
    <h1>문집 『연세문학』</h1>
    <h5>연 2회 발행됩니다.</h5>
    <h6>표지를 눌러보세요.</h6>
    <!-- TODO: 관리자에게만 보이도록 -->
    {%-if current_user.is_mod-%}
    <div class="function-bar"><button type="button"><a href="/magazines/write">새 문집 추가</a></button></div>
    {%-endif-%}
    <div class="volumes">
        {%-for volume in data-%}
        <div class="volume-item" id="vol{{volume['no']}}">
            <div class="item">
                <img src="/uploaded/{{volume['cover']}}" alt="{{volume['published']}}에 발행된 문집 표지">
                {%-if current_user.is_mod-%}
                <button type="button"><a href="/magazines/{{volume['no']}}/edit">정보 수정</a></button>
                <button type="button" onclick="delete_magazine({{volume['no']}})">삭제</button>
                {%-endif-%}
            </div>
            <div class="content-info">
                <h4>수록작</h4>
                <div class="content-row">
                {%-for content in volume["contents"]-%}
                    <div>{{content["type"]}}</div>
                    <div class="convertable">{{content["title"]}}</div>
                    <div class="convertable">{{content["author"]}}</div>
                    <div>{{content["language"]}}</div>
                {%-endfor-%}
                </div>
            </div>
        </div>
        {%-endfor-%}
    </div>
</div>
{%-endblock-%}
{%-block scripts-%}
<script src="/static/js/convert-hanja.js" type="module"></script>
<script src="/static/js/magazines.js"></script>
<script>
    function delete_magazine(no) {
        if (confirm("이 문집을 삭제합니다.")) {
            fetch(location.href+`/${no}`, {method: "DELETE"})
            .then(()=>{location.reload()});
        }
    }
</script>
{%-endblock-%}