{%-extends "layout.html"-%}
{%-block additional_css-%}
<link rel="stylesheet" href="/static/css/magazines.css">
{%-endblock-%}
{%-block main-%}
<div id="main">
    <!-- TODO: 관리자에게만 보이도록 -->
    <div class="function-bar">
        <button type="button"><a href="/magazines/write">새 문집 추가</a></button>
    </div>
    <div class="volumes">
        {%-for volume in data-%}
        <div class="volume-item">
            <img src="/uploaded/{{volume['cover']}}" alt="연세문학 {{volume['no']}}호 표지">
            <div class="volume-info">
                <p>연세문학 제{{volume['no']}}호</p>
                <p>{{volume['published']}} 발행</p>
                <p>수록작</p>
                <ul>
                    {%-for content in volume["contents"]-%}
                    <li class="content-row">
                        <div>{{content["type"]}}</div>
                        <div>{{content["author"]}}</div>
                        <div>{{content["title"]}}</div>
                        <div>{{content["language"]}}</div>
                    </li>
                    {%-endfor-%}
                </ul>
            </div>
        </div>
        {%-endfor-%}
        {%-for i in range(1, 100)-%}
        <div class="volume-item">
            <img src="/static/assets/images/2020 연세문학.jpg" alt="">
            <h3>제{{i}}호</h3>
            <h4>{{datetime.now().strftime("%Y-%m-%d")}} 발행</h4>
            <div class="volume-info">
                <h5>수록작</h5>
                <ul>
                    {%-for j in range(20)-%}
                    <li class="content-row">
                        <div>시</div>
                        <div>이진명</div>
                        <div>건축무한육면각체</div>
                        <div>한국어</div>
                    </li>
                    {%-endfor-%}
                </ul>
            </div>
        </div>
        {%-endfor-%}
    </div>
</div>
{%-endblock-%}