{% extends "board-layout.html" %}
{% block subtitle %} :: {{this_is}} - {{data["title"]}}{% endblock %}
{% block content %}
<h1 class="convertable">{{data["title"]}}</h1>
<div class="function-bar">
    <div class="author-date"><div class="convertable">작성자 {{data["author"]}}</div><div>게시일 {{data["published"]}}</div></div>
    {%-if current_user.is_mod-%}
    <div><button type="button"><a href="/{{categories[this_is]}}/{{data['no']}}/edit">수정</a></button><button type="button" id="delete-button">삭제</button></div>
    {%-endif-%}
</div>
<hr>
<div class="markdown convertable">{{gfm(data["content"])|safe}}</div> <!--글쓴이를 신뢰하여 별다른 검사 없이 바로 "|safe"를 적용합니다.-->
{% endblock %}
{%-block scripts-%}
<script>
    document.querySelector("#delete-button").addEventListener("click", (event)=>{
        if (confirm("이 글을 삭제합니다.")) {
            fetch(location.href, {method:"DELETE"})
            .then(()=>{location.replace(document.referrer)}); // TODO: include credentials
        }
    });
</script>
<script src="/static/js/convert-hanja.js"></script>
{%-endblock-%}